body {
  margin: 0;
  padding: 0;
  background-color: #363636;
  position: relative;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content:center;
  padding: 10px 90px;
  background-color: #cca43b;
  flex-wrap: wrap;
}

#nav-logo {
  font-family: fantasy;
  text-transform: uppercase;
  color: #242f40;
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  padding: 1.4rem 1.25rem;
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
  display: block; 
  
 
 
  */
}

#nav-select{
  text-align: right;
  padding: 1.4rem 0rem;
  margin: 0;

}
#nav-search{
  text-align: right;
  padding: 1.4rem 0rem;
  margin: 0;

}
#nav-button{
  text-align: center;
  padding: 1.4rem 0rem;
  margin: 0;

}
.box{
  min-width:350px;

}
/* #nav-Search {
  text-align: right;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 75%;
  align-self: center;
  
  padding: 1.4rem 0rem;
  margin: 0;
} */

 #select,
button,
#textBox {
  padding: 0.5rem 0.75rem; 
  color: #e5e5e5;
  background-color: #242f40;
  border: 1px solid #e5e5e5;
  /* border-radius: 6px; */
}

#select {
  text-transform: uppercase;
  text-align: center;
  width: 350px;
  height: 40px;
  cursor: pointer;
}
button{
  border: none;
  width:200px;
  height: 40px;
  text-transform: uppercase;
}
#textBox {
  color: white;
  background-color: #242f40 ;
  width: 320px;
  height: 20px;
} 

::-webkit-scrollbar {
  background-color: #161d27;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#33445b, #e5e5e5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #cca43b 50%, #363636);
}

 #textBox,
#select:focus,
#select:hover{
  outline: none;
  border: 1px solid #363636;
}


#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 22px 20px;
  font-size: 1.3rem;
  color: #c2c2c2;
}
.divClass {
  text-align: center;
  background-color: #242f40;
  width: 320px;
  height: 500px;
  border: 1px solid #161d27;
  border-radius: 6px;
  box-shadow: 5px 15px 25px black;
  margin: 10px;
}
.divClass:hover{
  border: 1px solid #cca43b;
  cursor: pointer;
  box-shadow: none;
}
.h4class {
  border-radius: 6px 6px 0 0;
  margin-top: 0;
  padding: 15px 5px;
  width: 308px;
  height: 25px;
  color: white;
  background-color: #161d27;
  border: 1px solid #161d27;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.imgClass {
  border-radius: 6px;
  width: 300px;
  height: 170px;
}
.descClass {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  text-justify: auto;
  font-size: 1.05rem;
}
#root{
  padding-top: 3rem;
  padding-bottom: 5rem;
}
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
 text-align: center;
  font-size: large;
  font-weight: 400;
  padding-top: 20px;
  height: 2.5rem;
  background-color: #cca43b;
}
